<center><img alt="" src="images/Cover.jpg"/></center> 

## <center><font color="blue">Model Rekomendasi: Market Basket Analysis/Association Rule</font></center>

<h2 id="(C)-Taufik-Sutanto---2019" style="text-align: center;">(C) Taufik Sutanto - 2019</h2>
<h2 id="tau-data-Indonesia-~-https://tau-data.id" style="text-align: center;">tau-data Indonesia ~ <a href="https://tau-data.id" target="_blank"><span style="color: #0009ff;">https://tau-data.id</span></a></h2>

# Notes and Disclaimer

* This notebook is part of the free (open knowledge) eLearning course at: https://tau-data.id/courses/data-mining/
* Some images are taken from several resources, we respect those images ownerships and put a reference/citation from where it is originated. Nevertheless, sometimes we are having trouble to find the origin of the image(s). If you are the owner of the image and would like the image taken-out (or want the citation to be revised) from this open knowledge course resources please contact us here with the details: https://tau-data.id/contact/  
* Unless stated otherwise, in general tau-data permit its resources to be copied and-or modified for non-commercial purposes. With condition proper acknowledgement/citation is given.

## Outline:

* Review Kuliah Sebelumnya
* Pendahuluan AR/MBA secara singkat
* Items dan Item Set (Contoh)
* Definisi formal AR metrics
* Aplikasi di Orange
* Tantangan di AR
* All Item Set (AIS) Algorithm
* Apriori Algorithm

## Review:
* Pengertian Data Mining: _Hubungan/perbedaan dengan Statistik? Apa ciri utamanya?_
* Proses Data Mining: _(KDD, SEMMA, CRISP, CCC) Apa benang merahnya?_

<p><img alt="" src="images/data-mining-process.png" /></p>

image source: 
1. https://barnraisersllc.com/2018/10/data-mining-process-essential-steps/
2. https://www.dragon1.com/terms/data-mining-definition

<h1 id="Tipe-tipe-Data">Tipe-tipe Data</h1>

<p><img alt="" src="images/data_types.gif" /></p>

<h2 id="Secara-Umum">Secara Umum</h2>

<p><img alt="" src="images/dataScience_models.gif"/></p>

<p>Yang tidak dibahas di MK Data Mining:&nbsp;data tersensor (Survival Analysis),&nbsp;Bayesian approaches,&nbsp;Semi-Supervised, Fuzzy, etc.</p>

## Association Rules ~ Market Basket Analysis
<img alt="" src="images/10_Rec_0.JPG" style="width: 600px; height: 500px;" />

image Source: 
https://www.kdnuggets.com/2018/07/minimum-viable-data-product.html

<p><img alt="" src="images/mba.jpg" style="width: 480px; height: 360px;" /></p>

image source: https://www.youtube.com/watch?v=VZL6uhA8XKg

<p><img alt="" src="images/10_Rec.png" style="height:400px; width:351px" /></p>

Image Source: Noor Ifada, Trunojoyo University

<p><img alt="" src="images/10_Rec_3.png" style="height:300px; width:490px" /></p>

Image Source: 
https://www.themarketingtechnologist.co/building-a-recommendation-engine-for-geek-setting-up-the-prerequisites-13/

<p><img alt="" src="images/10_Rec_1.JPG" style="width: 600px; height: 444px;" /></p>

Image Source: https://www.semanticscholar.org/paper/Collaborative-Filtering-and-Artificial-Neural-Based-Mylavarapu/a2a9f263172691fc66a4c8bc1d44dd4df77c347c

<h2 id="Association-Analysis-(AA)">Association Analysis (AA)</h2>

<ul>
	<li>Mencari hubungan (links) antar variabel menurut himpunan records di data</li>
	<li>Links ini disebut sebagai asosiasi (<strong>ASSOCIATION</strong>).</li>
	<li>
	<p>Tiga tipe permasalahan asosiasi:</p>
	</li>
</ul>

<ol>
	<li>
	<p>Association discovery (tidak terurut - yang akan dibahas di kuliah ini)</p>
	</li>
	<li>Sequential pattern discovery (terurut - tidak dibahas)</li>
	<li>Similar time discovery (ada informasi waktu - misal log analysis)</li>
</ol>

<h2 id="Kenapa-AA-penting-di-Data-Mining?">Kenapa AA penting di Data Mining?</h2>
<ol>
<li>
<p>Market Basket data analysis, cross-marketing, catalog design, sale campaign analysis</p>
</li>
<li>Web log (click stream) analysis, DNA sequence analysis, etc.</li>
</ol>

<p><img alt="" src="images/ecommerce.jpg" /></p>

Image Source: 
1. https://www.liputan6.com/tekno/read/2586238/pasar-online-indonesia-kian-tumbuh-ecommerce-berjaya
2. https://ginbusiness.wordpress.com/2016/02/27/jenis-e-commerce-di-indonesia/

<h2 id="Association-Rules-(AR)-dalam-satu-paragraph">Association Rules (AR) dalam satu paragraph</h2>

<p>AR berusaha menemukan semua himpunan <strong>ITEM </strong>(<strong>ITEMSETS</strong>) yang memiliki <strong>SUPPORT </strong>lebih besar dari <strong>MINIMUM SUPPORT</strong>, kemudian menggunakan itemsets yang signifikan untuk menghasilkan <strong>RULES </strong>yang memiliki <strong>CONFIDENCE </strong>lebih besar dari suatu <strong>MINIMUM CONFIDENCE</strong>. Rules ini akan dinilai berharga (signifikan) berdasarkan nilai <strong>LIFT</strong>-nya. Aplikasi paling populer AR adalah <strong>Market Basket Analysis</strong> (MBA).</p>

<h2 id="Items-dan-Itemsets">Items dan Itemsets</h2>

<ul>
	<li>Data AR berbentuk &quot;transaksi&quot;: himpunan itemsets yang masing-masing elemen himpunannya adalah items</li>
	<li>Items: Bread, Milk, Coke, dll</li>
	<li>Itemset: {Bread, Milk}</li>
	<li>Contoh transaksi pada suatu hari di sebuah toko:</li>
</ul>

<table>
	<thead>
		<tr>
			<th>TID</th>
			<th>Items</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Bread, Milk</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Bread, Diaper, Beer, Eggs</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Milk, Diaper, Beer, Coke</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Bread, Milk, Diaper, Beer</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Bread, Milk, Diaper, Coke</td>
		</tr>
	</tbody>
</table>

## Example Rule: BarbieÂ® ==> Candy
Rules are used in many marketing decisions such as:
* Put them closer together in the store.
* Put them far apart in the store.
* Package candy bars with the dolls.
* Package Barbie + candy + poorly selling item.
* Raise the price on one, lower it on the other.
* Barbie accessories for proofs of purchase.
* Do not advertise candy and Barbie together.
* Offer candies in the shape of a Barbie Doll.

<p><img alt="" src="images/mba_knowledge_decisions.png" style="width: 600px; height: 307px;" /></p>

<h2 id="Secara-Formal-(Teori-AR-dalam-satu-slide)">Secara Formal (Ringkasan Teori AR)</h2>
<ul>
<li><strong>Item </strong>adalah elemen himpunan dari data, contoh:&nbsp;<span class="MathJax_Preview" style="color: inherit;"><span id="MJXp-Span-991" class="MJXp-math"><span id="MJXp-Span-993" class="MJXp-mtext">Milk</span><span id="MJXp-Span-994" class="MJXp-mo" style="margin-left: 0em; margin-right: 0.222em;">,</span><span id="MJXp-Span-995" class="MJXp-mtext">Bread</span><span id="MJXp-Span-996" class="MJXp-mo" style="margin-left: 0em; margin-right: 0.222em;">,</span><span id="MJXp-Span-997" class="MJXp-mtext">Eggs</span></span></span></li>
<li><strong>Itemset </strong>adalah kemungkinan subset yang dibentuk dari item, contoh:&nbsp; <span class="MathJax_Preview" style="color: inherit;"><span id="MJXp-Span-991" class="MJXp-math"><span id="MJXp-Span-992" class="MJXp-mo" style="margin-left: 0em; margin-right: 0em;">{</span><span id="MJXp-Span-993" class="MJXp-mtext">Milk</span><span id="MJXp-Span-994" class="MJXp-mo" style="margin-left: 0em; margin-right: 0.222em;">,</span><span id="MJXp-Span-995" class="MJXp-mtext">Bread</span><span id="MJXp-Span-996" class="MJXp-mo" style="margin-left: 0em; margin-right: 0.222em;">,</span><span id="MJXp-Span-997" class="MJXp-mtext">Eggs</span><span id="MJXp-Span-998" class="MJXp-mo" style="margin-left: 0em; margin-right: 0em;">} atau {Milk, Eggs}</span></span></span>.</li>
<li>Frekuensi kemunculan item atau itemset dalam data disebut <strong>Support</strong>:</li>
<li>Jika support &gt; dari suatu nilai ambang (threshold) maka itemset tersebut disebut&nbsp;<strong><em>frequent itemset</em></strong>.</li>
<li>Sebuah <strong>Rule </strong>berbentuk&nbsp;<span class="MathJax_Preview" style="color: inherit;"><span id="MJXp-Span-1033" class="MJXp-math"><span id="MJXp-Span-1034" class="MJXp-mi MJXp-italic">X</span><span id="MJXp-Span-1035" class="MJXp-mo" style="margin-left: 0.333em; margin-right: 0.333em;">&rArr;</span><span id="MJXp-Span-1036" class="MJXp-mi MJXp-italic">Y</span></span></span> dimana&nbsp;<span class="MathJax_Preview" style="color: inherit;"><span id="MJXp-Span-1037" class="MJXp-math"><span id="MJXp-Span-1038" class="MJXp-mi MJXp-italic">X</span></span></span>&nbsp;(Antecedent) dan&nbsp;<span class="MathJax_Preview" style="color: inherit;"><span id="MJXp-Span-1039" class="MJXp-math"><span id="MJXp-Span-1040" class="MJXp-mi MJXp-italic">Y</span></span></span>&nbsp;(Consequent) adalah&nbsp;itemsets. Contoh:</li>
<li><span class="MathJax_Preview" style="color: inherit;"><span id="MJXp-Span-1041" class="MJXp-math MJXp-display"><span id="MJXp-Span-1042" class="MJXp-mo" style="margin-left: 0em; margin-right: 0em;">{</span><span id="MJXp-Span-1043" class="MJXp-mtext">Milk</span><span id="MJXp-Span-1044" class="MJXp-mo" style="margin-left: 0em; margin-right: 0.222em;">,</span><span id="MJXp-Span-1045" class="MJXp-mtext">Diaper</span><span id="MJXp-Span-1046" class="MJXp-mo" style="margin-left: 0em; margin-right: 0em;">}</span><span id="MJXp-Span-1047" class="MJXp-mo" style="margin-left: 0.333em; margin-right: 0.333em;">&rArr;</span><span id="MJXp-Span-1048" class="MJXp-mo" style="margin-left: 0em; margin-right: 0em;">{</span><span id="MJXp-Span-1049" class="MJXp-mtext">Beer</span><span id="MJXp-Span-1050" class="MJXp-mo" style="margin-left: 0em; margin-right: 0em;">}</span></span></span></li>
<li>S<em>upport</em> dari sebuah rule adalah banyaknya transaksi yang memuat X dan Y.</li>
<li><span class="MathJax_Preview" style="color: inherit;"><span id="MJXp-Span-1055" class="MJXp-math MJXp-display"><span id="MJXp-Span-1056" class="MJXp-mi MJXp-italic">s</span><span id="MJXp-Span-1057" class="MJXp-mo" style="margin-left: 0em; margin-right: 0em;">(</span><span id="MJXp-Span-1058" class="MJXp-mi MJXp-italic">X</span><span id="MJXp-Span-1059" class="MJXp-mo" style="margin-left: 0.333em; margin-right: 0.333em;">&rArr;</span><span id="MJXp-Span-1060" class="MJXp-mi MJXp-italic">Y</span><span id="MJXp-Span-1061" class="MJXp-mo" style="margin-left: 0em; margin-right: 0em;">)</span><span id="MJXp-Span-1062" class="MJXp-mo" style="margin-left: 0.333em; margin-right: 0.333em;">=</span><span id="MJXp-Span-1063" class="MJXp-mi MJXp-italic">s</span><span id="MJXp-Span-1064" class="MJXp-mo" style="margin-left: 0em; margin-right: 0em;">(</span><span id="MJXp-Span-1065" class="MJXp-mi MJXp-italic">X</span><span id="MJXp-Span-1066" class="MJXp-mo" style="margin-left: 0.267em; margin-right: 0.267em;">&cup;</span><span id="MJXp-Span-1067" class="MJXp-mi MJXp-italic">Y</span><span id="MJXp-Span-1068" class="MJXp-mo" style="margin-left: 0em; margin-right: 0em;">)</span></span></span></li>
<li>Dalam association rule mining, kita ingin mencari Rules yang memiliki&nbsp;&nbsp;<em>support</em> and <em>confidence </em>yang signifikan.&nbsp;</li>
<li>Nilai <em>expected confidence tak bersyarat&nbsp;</em>di AR disebut juga sebagai "lift:"</li>
<li>Lift&lt;1 dianggap "negatif" (less than expected)<br />Lift = 1 : netral</li>
<li>["lift"] S. Brin, R. Motwani, J. D. Ullman, and S. Tsur. Dynamic itemset counting and implication rules for market basket data</li>
</ul>

<h2 id="Rule,-Support,-Confidence,-Lift-by-Example">Rule, Support, Confidence, Lift by Example</h2>

<p><img alt="" src="images/Rule_Lift_Support_Confidence.png" style="width: 300px ; height: 181px" /></p>

<p><img alt="" src="images/Rule_Lift_Support_Confidence_example.png" style="width: 300px; height: 222px;" /></p>

Image Source: http://www.saedsayad.com/association_rules.htm

<p><img alt="" src="images/support.png" style="width: 600px; height: 253px;" /></p>

<p><img alt="" src="images/confidence.png" style="width: 600px; height: 332px;" /></p>

# Lifts

The lift metric is commonly used to measure how much more often the antecedent and consequent of a rule A->C occur together than we would expect if they were statistically independent. If A and C are independent, the Lift score will be exactly 1.

<h2 id="Leverage">Leverage</h2>

<p>Leverage computes the difference between the observed frequency of A and C appearing together and the frequency that would be expected if A and C were independent. An leverage value of 0 indicates independence.</p>

<p><img alt="" src="images/levarage.png" style="width: 600px ; height: 28px" /></p>

<p>[5] Piatetsky-Shapiro, G., Discovery, analysis, and presentation of strong rules. Knowledge Discovery in Databases, 1991: p. 229-248.</p>

<p><img src="images/Association_Rules_Metrics.png" alt="" /></p>
<p class="MsoNormal"><span style="mso-ansi-language: EN-US;">Nicely summarized in </span><span lang="IN"><a href="http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/">http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/</a></span></p>

<p><img alt="" src="images/interesting_rules.png" style="width: 600px; height: 280px;" /></p>

Apriori Principle
-----------------

You know, given that $A \subseteq B$, then $C \subseteq B$ as well if $C \subseteq B$.
It is also obvious that if $A \subseteq B$, $s(A) \geq s(B)$, since every item in $A$ also appear in $B$.

Apriori priciple says:
_"If an itemset is frequent, then all of its subsets must also be frequent."_

From that, we know that if an itemset is _infrequent_, all its supersets are also infrequent.

<h2 id="AIS-Algorithm">AIS Algorithm</h2>

<ul>
	<li>Candidate itemsets are generated and counted on-the-fly as the database is scanned.</li>
	<li>For each transaction, it is determined which of the large itemsets of the previous pass are contained in this transaction.</li>
	<li>New candidate itemsets are generated by extending these large itemsets with other items in this transaction.</li>
</ul>

<p><img alt="" src="images/AIS.png" style="width: 600px; height: 347px;" /></p>
* The disadvantage of the AIS algorithm is that it results in unnecessarily generating and counting too many candidate itemsets that turn out to be small.

<p><img alt="" src="images/min_support.png" style="width: 600px; height: 434px;" /></p>

<h2 id="Algoritma-Apriori">Algoritma Apriori</h2>

<ol>
	<li><font face="Calibri">Candidate itemsets are generated using only the large itemsets of the previous pass without considering the transactions in the database.</font></li>
	<li><font face="Calibri">The large itemset of the previous pass is joined with itself to generate all itemsets whose size is higher by 1.</font></li>
	<li><font face="Calibri">Each generated itemset that has a subset which is not large is deleted. The remaining itemsets are the candidate ones.</font></li>
</ol>

<p><font face="Calibri"><img alt="" src="images/Apriori_Alg.png" style="width: 600px; height: 379px;" /></font></p>

Image Source: http://www.saedsayad.com/association_rules.htm

## Algoritma Lain:
* SETM Algorithm
* AprioriTid Algorithm
* AprioriHybrid Algorithm
* dsb

## Diskusi:
* Barang di toko terlalu banyak macamnya ==> how to deal with it?
* AR inferential? Seberapa sering rule di generate?

<h2 id="Referensi:">Referensi:</h2>

<dl>
	<dt>[1]: J. Han, J. Pei, Y. Yin, R. Mao.</dt>
	<dd>Mining Frequent Patterns without Candidate Generation: A Frequent-Pattern Tree Approach. 2004.<a href="https://www.cs.sfu.ca/~jpei/publications/dami03_fpgrowth.pdf">https://www.cs.sfu.ca/~jpei/publications/dami03_fpgrowth.pdf</a></dd>
	<dt>[2]: R. Agrawal, C. Aggarwal, V. Prasad.</dt>
	<dd>Depth first generation of long patterns. 2000.&nbsp;<a href="http://www.cs.tau.ac.il/~fiat/dmsem03/Depth%20First%20Generation%20of%20Long%20Patterns%20-%202000.pdf">http://www.cs.tau.ac.il/~fiat/dmsem03/Depth%20First%20Generation%20of%20Long%20Patterns%20-%202000.pdf</a></dd>
	<dt>[3]: R. Agrawal, et al.</dt>
	<dd>Fast Discovery of Association Rules. 1996.&nbsp;<a href="http://cs-people.bu.edu/evimaria/cs565/advances.pdf">http://cs-people.bu.edu/evimaria/cs565/advances.pdf</a></dd>
</dl>

<p>Beberapa Modul rekomendasi Python:&nbsp;</p>
<ul>
<li><strong><a href="http://muricoca.github.io/crab/" target="_blank" rel="noopener">Crab (discontinued)</a></strong>.&nbsp;</li>
<li><a href="https://github.com/NicolasHug/Surprise" target="_blank" rel="noopener">Surprise</a></li>
<li><a href="https://github.com/ocelma/python-recsys" target="_blank" rel="noopener">Python Recsys (discontinued/very Old)</a></li>
<li><a href="https://github.com/Mendeley/mrec" target="_blank" rel="noopener">MRec (discontinued)</a></li>
<li><a href="http://rasbt.github.io/mlxtend/" target="_blank" rel="noopener">mlxtend (very limited documentationdocumentation)</a></li>
</ul>
<p>Kita akan mencoba juga <a href="http://orange.biolab.si/" target="_blank" rel="noopener"><b>Orange</b></a>: Python GUI untuk  Data Mining.</p>

<p><img alt="" src="images/orange_screenShot.png" /></p>

Image Source: http://gp.mx.tl/oranged-net-software

## Add-ons di Orange
* Installing Add-Ons "Associate" di Orange
* **pip install orange3**
* **python -m Orange.canvas** (Create shortcut with this command)
* Install the add-on
* http://orange3-associate.readthedocs.org/

<h3 id="File-data-CSV/XLS(X)-di-Orange-(3-Headers-Format)">File data CSV/XLS(X) di Orange (3 Headers Format)</h3>

<p><big><strong>[1]. Feature Names</strong></big> (Nama variabel).</p>

<p><big><strong>[2]. Feature types</strong></big>&nbsp;on the second line. The type is determined automatically, or, if set, can be any of the following:</p>

<ul>
	<li><code>discrete</code>&nbsp;(or&nbsp;<code>d</code>) &mdash; imported as&nbsp;<a href="https://docs.orange.biolab.si/3/data-mining-library/reference/data.variable.html#Orange.data.DiscreteVariable" target="_blank" title="Orange.data.DiscreteVariable"><code>Orange.data.DiscreteVariable</code></a>,</li>
	<li>a space-separated&nbsp;<strong>list of discrete values</strong>, like &ldquo;<code>male&nbsp;female</code>&rdquo;, which will result in&nbsp;<a href="https://docs.orange.biolab.si/3/data-mining-library/reference/data.variable.html#Orange.data.DiscreteVariable" target="_blank" title="Orange.data.DiscreteVariable"><code>Orange.data.DiscreteVariable</code></a>&nbsp;with those values and in that order. If the individual values contain a space character, it needs to be escaped (prefixed) with, as common, a backslash (&lsquo;&#39;) character.</li>
	<li><code>continuous</code>&nbsp;(or&nbsp;<code>c</code>) &mdash; imported as&nbsp;<a href="https://docs.orange.biolab.si/3/data-mining-library/reference/data.variable.html#Orange.data.ContinuousVariable" target="_blank" title="Orange.data.ContinuousVariable"><code>Orange.data.ContinuousVariable</code></a>,</li>
	<li><code>string</code>&nbsp;(or&nbsp;<code>s</code>, or&nbsp;<code>text</code>) &mdash; imported as&nbsp;<a href="https://docs.orange.biolab.si/3/data-mining-library/reference/data.variable.html#Orange.data.StringVariable" target="_blank" title="Orange.data.StringVariable"><code>Orange.data.StringVariable</code></a>,</li>
	<li><code>time</code>&nbsp;(or&nbsp;<code>t</code>) &mdash; imported as&nbsp;<a href="https://docs.orange.biolab.si/3/data-mining-library/reference/data.variable.html#Orange.data.TimeVariable" target="_blank" title="Orange.data.TimeVariable"><code>Orange.data.TimeVariable</code></a>, if the values parse as&nbsp;<a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8601</a>&nbsp;date/time formats,</li>
	<li><code>basket</code>&nbsp;&mdash; used for storing sparse data. More on basket formats in a dedicated section.</li>
</ul>

<p><big><strong>[3]. Flags</strong></big>&nbsp;(optional) on the third header line. Feature&rsquo;s flag can be empty, or it can contain, space-separated, a consistent combination of:</p>

<ul>
	<li><code>class</code>&nbsp;(or&nbsp;<code>c</code>) &mdash; feature will be imported as a class variable. Most algorithms expect a single class variable.</li>
	<li><code>meta</code>&nbsp;(or&nbsp;<code>m</code>) &mdash; feature will be imported as a meta-attribute, just describing the data instance but not actually used for learning,</li>
	<li><code>weight</code>&nbsp;(or&nbsp;<code>w</code>) &mdash; the feature marks the weight of examples (in algorithms that support weighted examples),</li>
	<li><code>ignore</code>&nbsp;(or&nbsp;<code>i</code>) &mdash; feature will not be imported,</li>
	<li><code>&lt;key&gt;=&lt;value&gt;</code>&nbsp;custom attributes.</li>
</ul>

<p><img alt="" src="images/Orange_Xls.png" style="width: 550px ; height: 344px" /></p>

In [10]:
import pandas as pd, matplotlib.pyplot as plt, seaborn as sns
from itertools import combinations
from collections import Counter
# Warning install "mlxtend" module first. in Google Colaboratory:
# !pip install mlxtend
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import warnings; warnings.simplefilter('ignore')


%matplotlib inline
plt.style.use('bmh'); sns.set()

In [5]:
# In Python
T = [
 ('Bread', 'Milk'),
 ('Beer', 'Bread', 'Diaper', 'Eggs', 'Milk', 'Bread', 'Milk', 'Milk'),
 ('Beer', 'Coke', 'Diaper', 'Milk'),
 ('Beer', 'Bread', 'Diaper', 'Milk'),
 ('Bread', 'Coke', 'Diaper', 'Milk', 'Diaper'),
]
T

[('Bread', 'Milk'),
 ('Beer', 'Bread', 'Diaper', 'Eggs', 'Milk', 'Bread', 'Milk', 'Milk'),
 ('Beer', 'Coke', 'Diaper', 'Milk'),
 ('Beer', 'Bread', 'Diaper', 'Milk'),
 ('Bread', 'Coke', 'Diaper', 'Milk', 'Diaper')]

In [2]:
# Calculating item sets
# Nostalgia Matematika Diskrit :)
def subsets(S, k):
  return [set(s) for s in combinations(S, k)]

subsets({1, 2, 3}, 2)

[{1, 2}, {1, 3}, {2, 3}]

In [6]:
# Calculating support
Counter(T[1])

Counter({'Beer': 1, 'Bread': 2, 'Diaper': 1, 'Eggs': 1, 'Milk': 3})

In [18]:
# Using Module
# Taken from https://pbpython.com/market-basket-analysis.html
# Pertama-tama load Data
try:
    df = pd.read_excel('data/Online_Retail.xlsx')
except:
    df = pd.read_excel('http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [19]:
# Preprocessing
df['Description'] = df['Description'].str.strip() # remove unnecessary spaces
df['Description'] = df['Description'].str.lower() # lower case normalization
df.dropna(axis=0, subset=['InvoiceNo'], inplace=True) # delete rows with no invoice no
df['InvoiceNo'] = df['InvoiceNo'].astype('str') # Change data type
df = df[~df['InvoiceNo'].str.contains('c')] # remove invoice with C in it
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [29]:
# Let's sample the data
basket = (df[df['Country'] =="France"])
basket.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
26,536370,22728,alarm clock bakelike pink,24,2010-12-01 08:45:00,3.75,12583.0,France
27,536370,22727,alarm clock bakelike red,24,2010-12-01 08:45:00,3.75,12583.0,France
28,536370,22726,alarm clock bakelike green,12,2010-12-01 08:45:00,3.75,12583.0,France
29,536370,21724,panda and bunnies sticker sheet,12,2010-12-01 08:45:00,0.85,12583.0,France
30,536370,21883,stars gift tape,24,2010-12-01 08:45:00,0.65,12583.0,France

In [30]:
# Group the transaction
basket = basket.groupby(['InvoiceNo', 'Description'])['Quantity']
basket.head()

26        24
27        24
28        12
29        12
30        24
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 8557, dtype: int64

In [31]:
# Jumlahkan, unstack, Null=0, index baris menggunakan Nomer Invoice
basket = basket.sum().unstack().reset_index().fillna(0).set_index('InvoiceNo')
basket.head()

Description,10 colour spaceboy pen,12 coloured party balloons,12 egg house painted wood,12 message cards with envelopes,12 pencil small tube woodland,12 pencils small tube red retrospot,12 pencils small tube skull,12 pencils tall tube posy,12 pencils tall tube red retrospot,12 pencils tall tube woodland,...,wrap vintage petals design,yellow coat rack paris fashion,yellow giant garden thermometer,yellow shark helicopter,zinc star t-light holder,zinc folkart sleigh bells,zinc herb garden container,zinc metal heart decoration,zinc t-light holder star large,zinc t-light holder stars small
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536370,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536974,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
537065,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
537463,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

basket_sets = basket.applymap(encode_units) # one-hot encoding
basket_sets.head()

Description,10 colour spaceboy pen,12 coloured party balloons,12 egg house painted wood,12 message cards with envelopes,12 pencil small tube woodland,12 pencils small tube red retrospot,12 pencils small tube skull,12 pencils tall tube posy,12 pencils tall tube red retrospot,12 pencils tall tube woodland,...,wrap vintage petals design,yellow coat rack paris fashion,yellow giant garden thermometer,yellow shark helicopter,zinc star t-light holder,zinc folkart sleigh bells,zinc herb garden container,zinc metal heart decoration,zinc t-light holder star large,zinc t-light holder stars small
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536370,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536852,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536974,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537065,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537463,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Understanding the Data Structure

In [40]:
basket_sets.columns

Index(['10 colour spaceboy pen', '12 coloured party balloons',
       '12 egg house painted wood', '12 message cards with envelopes',
       '12 pencil small tube woodland', '12 pencils small tube red retrospot',
       '12 pencils small tube skull', '12 pencils tall tube posy',
       '12 pencils tall tube red retrospot', '12 pencils tall tube woodland',
       ...
       'wrap vintage petals  design', 'yellow coat rack paris fashion',
       'yellow giant garden thermometer', 'yellow shark helicopter',
       'zinc  star t-light holder', 'zinc folkart sleigh bells',
       'zinc herb garden container', 'zinc metal heart decoration',
       'zinc t-light holder star large', 'zinc t-light holder stars small'],
      dtype='object', name='Description', length=1564)

In [41]:
basket_sets.index

Index(['536370', '536852', '536974', '537065', '537463', '537468', '537693',
       '537897', '537967', '538008',
       ...
       'C576908', 'C578377', 'C578743', 'C579127', 'C579192', 'C579532',
       'C579562', 'C580161', 'C580263', 'C581316'],
      dtype='object', name='InvoiceNo', length=461)

In [45]:
basket_sets.iloc[0]

Description
10 colour spaceboy pen             0
12 coloured party balloons         0
12 egg house painted wood          0
12 message cards with envelopes    0
12 pencil small tube woodland      0
                                  ..
zinc folkart sleigh bells          0
zinc herb garden container         0
zinc metal heart decoration        0
zinc t-light holder star large     0
zinc t-light holder stars small    0
Name: 536370, Length: 1564, dtype: int64

In [46]:
basket_sets.iloc[0].sum()

20

In [53]:
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)
frequent_itemsets.sort_values(by='support', ascending=False, na_position='last', inplace = True)
frequent_itemsets

     support                                           itemsets
16  0.650759                                          (postage)
17  0.160521                               (rabbit night light)
20  0.154013                    (red toadstool led night light)
15  0.145336                 (plasters in tin woodland animals)
13  0.143167                    (plasters in tin circus parade)
..       ...                                                ...
61  0.071584  (plasters in tin circus parade, postage, plast...
62  0.071584  (plasters in tin spaceboy, postage, plasters i...
63  0.071584  (set/6 red spotty paper cups, postage, set/20 ...
64  0.071584  (postage, set/6 red spotty paper plates, set/2...
39  0.071584         (pack of 72 retrospot cake cases, postage)

[67 rows x 2 columns]

In [56]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.sort_values(by='lift', ascending=False, na_position='last', inplace = True)
rules.head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
49,"(set/6 red spotty paper cups, set/20 red retro...",(set/6 red spotty paper plates),0.086768,0.108460,0.084599,0.975000,8.989500,0.075188,35.661605
52,(set/6 red spotty paper plates),"(set/6 red spotty paper cups, set/20 red retro...",0.108460,0.086768,0.084599,0.780000,8.989500,0.075188,4.151055
50,"(set/6 red spotty paper plates, set/20 red ret...",(set/6 red spotty paper cups),0.086768,0.117137,0.084599,0.975000,8.323611,0.074435,35.314534
51,(set/6 red spotty paper cups),"(set/6 red spotty paper plates, set/20 red ret...",0.117137,0.086768,0.084599,0.722222,8.323611,0.074435,3.287636
13,(set/6 red spotty paper plates),(set/6 red spotty paper cups),0.108460,0.117137,0.104121,0.960000,8.195556,0.091417,22.071584
12,(set/6 red spotty paper cups),(set/6 red spotty paper plates),0.117137,0.108460,0.104121,0.888889,8.195556,0.091417,8.023861
36,"(set/6 red spotty paper plates, postage)",(set/6 red spotty paper cups),0.091106,0.117137,0.086768,0.952381,8.130511,0.076096,18.540130
37,(set/6 red spotty paper cups),"(set/6 red spotty paper plates, postage)",0.117137,0.091106,0.086768,0.740741,8.130511,0.076096,3.505733
38,(set/6 red spotty paper plates),"(set/6 red spotty paper cups, postage)",0.108460,0.099783,0.086768,0.800000,8.017391,0.075945,4.501085
35,"(set/6 red spotty paper cups, postage)",(set/6 red spotty paper plates),0.099783,0.108460,0.086768,0.869565,8.017391,0.075945,6.835141

In [59]:
# Filtering
rules[ (rules['lift'] >= 6) & (rules['confidence'] >= 0.8) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
49,"(set/6 red spotty paper cups, set/20 red retro...",(set/6 red spotty paper plates),0.086768,0.108460,0.084599,0.975000,8.989500,0.075188,35.661605
50,"(set/6 red spotty paper plates, set/20 red ret...",(set/6 red spotty paper cups),0.086768,0.117137,0.084599,0.975000,8.323611,0.074435,35.314534
13,(set/6 red spotty paper plates),(set/6 red spotty paper cups),0.108460,0.117137,0.104121,0.960000,8.195556,0.091417,22.071584
12,(set/6 red spotty paper cups),(set/6 red spotty paper plates),0.117137,0.108460,0.104121,0.888889,8.195556,0.091417,8.023861
36,"(set/6 red spotty paper plates, postage)",(set/6 red spotty paper cups),0.091106,0.117137,0.086768,0.952381,8.130511,0.076096,18.540130
35,"(set/6 red spotty paper cups, postage)",(set/6 red spotty paper plates),0.099783,0.108460,0.086768,0.869565,8.017391,0.075945,6.835141
48,"(set/6 red spotty paper cups, set/6 red spotty...",(set/20 red retrospot paper napkins),0.104121,0.112798,0.084599,0.812500,7.203125,0.072854,4.731743

In [61]:
basket['postage'].sum()

803.0

<h2 id="Contoh-di-Orange">Contoh di Orange</h2>
<ul>
<li>Contoh diambil dari <a href="https://blog.biolab.si/2016/04/25/association-rules-in-orange/" target="_blank" rel="noopener">https://blog.biolab.si/2016/04/25/association-rules-in-orange/</a></li>
<li>Input Data : "FoodMart 2000 Dataset"</li>
<li>Drag Node "DataSet"&nbsp; (Open) ==&gt; "Send Data"</li>
<li>Drag Node "Data" ==&gt; Open/Send Automatically</li>
<li>Drag Nodes Frequent ItemSets</li>
<li>Drag Nodes Association Rules</li>
</ul>

<p><img alt="" src="images/orange_mba.png" /></p>

# End of Module Association Rule
<hr>

## Next: Supervised Learning 1: Korelasi, Regresi, & Regresi Logistik

<p><img alt="" src="images/10_recommendation_joke.jpg" style="height:445px; width:455px" /></p>